<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>TodoMVC-shimily</title>
		<link rel="stylesheet" href="css/base.css">
		<link rel="stylesheet" href="css/index.css">
		<!-- CSS overrides - remove if you don't need it -->
		<link rel="stylesheet" href="css/app.css">
	</head>
	<body ng-app="MyTodoMvc">
		<section class="todoapp" ng-controller="mainCtr">
			<header class="header">
				<h1>todos</h1>
				<form  ng-submit="add()">
					<input class="new-todo" placeholder="What needs to be done?" autofocus  checked ng-model="text">
				</form>

			</header>

			<section class="main">
				<input class="toggle-all" type="checkbox" >
				<label for="toggle-all" ng-click="toggleAll()">标记已完成项目</label>
				<ul class="todo-list">  <!--class="editing"-->
					<li ng-repeat="item in data | filter:selector" ng-class="{completed:item.completed,editing:item.id===curEditingId}">
						<div class="view" >
							<input class="toggle" type="checkbox" ng-model="item.completed">
							<label ng-dblclick="editing(item.id)"><i>{{item.id}}</i> {{item.txt}}</label>
							<button class="destroy" ng-click="remove(item.id)"></button>
						</div>
						<form ng-submit="save()">
							<input class="edit" ng-model="item.txt">
						</form>
					</li>


				</ul>
			</section>

			<footer class="footer">

				<span class="todo-count"><strong>{{data.length}}</strong>项目</span>

				<ul class="filters">
					<li>
						<a ng-class="{selected:selector.completed == undefind}" href="#/">所有</a>
					</li>
					<li>
						<a ng-class="{selected:selector.completed == false}" href="#/active">未完成</a>
					</li>
					<li>
						<a ng-class="{selected:selector.completed == true}" href="#/completed">已完成</a>
					</li>
				</ul>
				<!-- Hidden if no completed items are left ↓ -->
				<button class="clear-completed" ng-click="clear()" ng-show="exitCompleted()">清空已完成的项目</button>
			</footer>
		</section>
		<style>
			.row{ width:550px; border: #ccc 1px solid; margin: 20px auto;}
		</style>
		<div class="row"  ng-controller="rowCtr">
			<P>{{ceshi}}</P>
		</div>

		<!-- Scripts here. Don't remove ↓ -->
		<script src="js/angular.min.js"></script>
		<script src="js/base.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>
